<template>
  <v-card class="crud-dialog">
    <v-card-title class="headline m-0">
      <v-icon>description</v-icon> Creación de publicación
      <v-spacer></v-spacer>
      <v-btn icon @click.native="$store.commit('closeModal', 3)">
        <v-icon>close</v-icon>
      </v-btn>
    </v-card-title>
    <v-card-text>
      <v-form
        @submit.prevent="crear">
        <v-card-text class="pt-0">
          <v-text-field
            v-model="datosEnviar.titulo"
            name="titulo"
            label="Título"
            maxlength="300"
            required>
          </v-text-field>
          <v-textarea
            v-model="datosEnviar.contenido"
            name="contenido"
            label="Contenido"
            clearable
            clear-icon="cancel"
          >
          </v-textarea>
        </v-card-text>
        <v-card-actions>
          <small class="error--text text-required">* Los campos son obligatorios</small>
          <v-spacer></v-spacer>
          <v-btn
            @click.native="$store.commit('closeModal', 3);">
            <v-icon>cancel</v-icon> {{$t('common.cancel') }}
          </v-btn>
          <v-btn
            color="primary"
            type="submit">
            <v-icon>check</v-icon> {{$t('common.save') }}
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script>
 export default {
   props: {},
   data () {
     return {
       datosEnviar: {
         titulo: '',
         contenido: ''
       },
       urlCrear: 'post/crear'
     };
   },

   methods: {
     crear () {
       console.log('creando post', this.datosEnviar);
       this.$service.post(`${this.urlCrear}`, {
         titulo: this.datosEnviar.titulo,
         contenido: this.datosEnviar.contenido
       })
           .then(response => {
             if (response.id) {
               this.$message.success('Se ha creado el registro correctamente');
             } else {
               this.$message.error('No se pudo crear el registro');
             }
             this.$store.commit('closeModal', 3);
           });
     }
   }
 };
</script>
