<template>
  <section>
    <h3 class="primary--text"><v-icon color="primary">mdi-card-text</v-icon> Publicaciones</h3>
    <v-card>
      <v-tooltip bottom>
        <v-btn slot="activator" color="primary"
               @click="openModalCrear()"><v-icon>add</v-icon> Crear post</v-btn>
        <span>Crear Post</span>
      </v-tooltip>
      <v-card-text>
        <!-- adminsitracion -->
        <v-data-table
          :headers="headers"
          :items="listaPosts"
          :loading="cargandoLista"
          :rows-per-page-items="[10,25,50]"
          :total-items="tamListaTotal"
        >
          <template slot="items" slot-scope="props">
            <td>
              <span>{{ props.item.usuario_autor.usuario }}</span>
            </td>
            <td>
              <span v-if="props.item.usuario_revisor">{{ props.item.usuario_revisor.usuario }}</span>
            </td>
            <td>
              <span>{{ props.item.titulo }}</span>
            </td>
            <td>
              <!-- cambiando segun permisos -->
              <span
                v-if="$store.state.permissions['posts:update']"
              >
                <v-switch
                  color="primary"
                  @change="cambiarVisiblidad(props.item)"
                  hide-details
                  class="mt-0"
                  v-model="props.item.visible"></v-switch>
              </span>
              <span v-else>
                <v-chip label color="success" text-color="white" v-if="props.item.visible">
                  SI
                </v-chip>
                <v-chip label color="warning" text-color="white" v-else>
                  NO
                </v-chip>
              </span>
            </td>
            <td>
              <small>{{ props.item.contenido.substring(0,50) + '...' }}</small>
              <p>
                <v-btn
                  color="primary"
                  @click.stop="openModal(props.item)"
                  slot="activator">
                  <v-icon>description</v-icon> ver
                </v-btn>
              </p>
            </td>
            <td>
              <span>{{ props.item._created_at }}</span>
            </td>
            <td>
              <span v-if="props.item._updated_at">{{ props.item._updated_at }}</span>
            </td>
          </template>
        </v-data-table>
        
        <!-- end administracion -->
      </v-card-text>
    </v-card>
    <!-- Modals-->
    <v-dialog v-model="$store.state.modal2" max-width="960">
      <post-visualizar :post="post"></post-visualizar>
    </v-dialog>
    <v-dialog v-model="$store.state.modal3" max-width="960">
      <post-crear></post-crear>
    </v-dialog>
  </section>
</template>

<script>
 import PostVisualizar from './PostVisualizar';
 import PostCrear from './PostCrear';
 export default {
   data () {
     return {
       // para la lista
       headers: [
         { text: 'Autor', sortable: false },
         { text: 'Revisor', sortable: false },
         { text: 'Título', sortable: true },
         { text: 'Visible', sortable: true },
         { text: 'Contenido', sortable: false },
         { text: 'Creación', sortable: true },
         { text: 'Modificación', sortable: false }
       ],
       cargandoLista: true,
       tamListaTotal: 0,
       tamPag: 10,
       numPag: 1,
       listaPosts: [],
       urlListarAdmin: 'post/listarPostsAdmin',
       urlListarUsuario: 'post/listarPostsUsuario',
       urlCambiarVisiblidad: 'post/cambiarVisiblidad',
       active: 'post',
       post: {}
     };
   },
   components: {
     PostVisualizar,
     PostCrear
   },
   methods: {
     cargarListaPosts () {
       var url = this.getUrlListar();
       this.$service.get(`${url}`).then(response => {
         if (response) {
           this.listaPosts = response.rows;
         }
       });
     },
     getUrlListar () {
       if (this.$store.state.permissions['posts:update']) {
         return this.urlListarAdmin;
       }
       return this.urlListarUsuario;
     },
     cambiarVisiblidad (post) {
       this.$service.post(`${this.urlCambiarVisiblidad}/${post.id}`, { visible: post.visible })
           .then(response => {
             console.log('respponse:', response);
             if (response.id) {
               this.$message.success('Se ha modificado el registro');
             } else {
               this.$message.error('No se pudo modificar el registro');
             }
           });
     },
     openModal (data = {}) {
       // Object.assign(this.post, data);
       this.post = data;
       this.$store.commit('openModal', 2);
     },
     openModalCrear () {
       this.$store.commit('openModal', 3);
     }
   },
   created () {
     this.$store.state.modal2 = false;
     this.$store.state.modal3 = false;
   },
   mounted () {
     this.$store.commit('closeModal', 2);
     this.$store.commit('closeModal', 3);
     this.cargarListaPosts();
   }
 };
</script>
