<template>
  <v-card class="crud-dialog">
    <v-card-title class="headline m-0">
      <v-icon>description</v-icon> Publicación
      <v-spacer></v-spacer>
      <v-btn icon @click.native="$store.commit('closeModal', 2)">
        <v-icon>close</v-icon>
      </v-btn>
      <v-chip label color="success" text-color="white" v-if="post.visible">
        APROBADO
      </v-chip>
      <v-chip label color="warning" text-color="white" v-else>
        NO APROBADO o sin revisión
      </v-chip>
    </v-card-title>
    <v-card-text>
      <h3 v-if="post.titulo">{{ post.titulo }}</h3>
      <p>
        {{ post.contenido }}
      </p>
      <hr>
      <div>
        <!-- {{ post }} -->
        Creado por <strong>{{ post.usuario_autor.usuario }}</strong>
        el <strong>{{ $datetime.datetimeLiteral(post._created_at) }}</strong>
      </div>
      <div v-if="post.usuario_revisor">
        Revisado por: <strong>{{ post.usuario_revisor.usuario }}</strong>
      </div>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        @click.native="$store.commit('closeModal', 2);">
        <v-icon>cancel</v-icon> {{$t('common.close') }}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
 export default {
   props: {
     post: {
       type: Object,
       default: () => {}
     }
   },
   data () {
     return {};
   }
 };
</script>
