<html>
  <head>
    <title>Prueba app Vue.js - Sesión 4</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Incluimos la version de desarrollo -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      {{ message }}
    </div>

    <div id="app-2">
      <button v-bind:title="message">
        Pon el mouse sobre mi algunos segundos para ver
        mi título vinculado dinámicamente.
      </button>
    </div>
  </body>

  <!-- Codigo javascript para esta pagina -->
  <script>
   var app = new Vue({
     el: '#app',
     data: {
       message: 'Hola Vue!'
       
     }
   });

   var app2 = new Vue({
     el: '#app-2',
     data: {
       message: 'Cargaste esta página en ' + new Date().toLocaleString()
     }
   })
  </script>
</html>
