<html>
  <head>
    <title>Prueba app2 Vue.js - Sesión 4</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <div id="vmEjemplo">
      <!-- la notacion {{ variable }} sirve para modificar el texto html solamente -->
      {{ mensaje }}
      <!-- asociaremos v-bind:style con la variable estilo -->
      <p v-bind:style="estilo" >
        <!-- Esta notación reemplaza *texto HTML* solamente -->
        Ancho actual (px): {{ ancho }}
      </p>
      <input v-model="ancho">
    </div>
  </body>

  <!-- Codigo javascript para esta pagina -->
  <!-- Incluimos la version de desarrollo -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
   var vmEjemplo = new Vue({
     el: '#vmEjemplo',
     data: {
       // valores iniciales
       estilo: {
         backgroundColor: 'gray',
         width: '200px',
       },
       ancho: 'Ancho por defecto 200px',
       mensaje: 'Introduzca número'
     },
     // propiedad watch, reacciona cuando hay cambios
     watch: {
       // se dispara al encontrar cambios en 'ancho'
       ancho: function(valor) {
         this.cambiarEstilo(valor);
       }
     },
     methods: {
       cambiarEstilo: function (ancho) {
         // controlando si es un numero
         if (isNaN(ancho)) {
           this.mensaje = 'Debe introducir un número';
         } else {
           this.estilo.width = ancho + 'px';
           this.mensaje = 'Ancho actual:' + ancho + 'px';
         }
         console.log('this.estilo.width', this.estilo.width);
       }
     }
   });
  </script>
</html>
