<template>
  <!-- copiando de Card.vue -->
  <div class="card">
    <h4>
      {{ tema }}
    </h4>
    <p>
      {{ mensaje }}
    </p>
    <hr>
  </div>
</template>

<script>
export default {
  name: 'Post',
  props: {
    tema: {
      type: String,
      default: '',
    },
    mensaje: {
      type: String,
      default: '',
    },
  },
  data() {
    return {};
  },
};
</script>
